#chat-screen {
    background-color: #ABC1D1;
    height: 500vh;
}

.chat-status,
.chat-header {
    background-color: #ABC1D1;
}

.chat-status {
    z-index: 2;
}

.chat-header {
    z-index: 1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    
    100% {
        transform: none;
        opacity: 1;
    }
}

.main-chat {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    animation: fadeIn .4s linear;
}

.chat-timestamp {
    display: inline;
    padding: 10px 15px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.767);
    border-radius: 20px;
    font-size: var(--font-sm);
}

@keyframes messageFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-80px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.message-row {
    display: flex;
    margin: 15px 0;
    animation: messageFadeIn .6s ease-out .4s ;
}

.message-row img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.message__author {
    color: var(--light-gray);
    font-size: var(--font-sm);
    font-weight: 500;
    margin-bottom: 8px;
}

.message-row__content {
    display: flex;
    flex-direction: column;
}

.message__info {
    display: flex;
    align-items: flex-end;
}

.message-row--own .message__info {
    flex-direction: row-reverse;
}

@keyframes messageOwnFadeIn {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.message-row--own {
    flex-direction: row-reverse;
    animation: messageOwnFadeIn .6s ease-out .4s forwards;
}

.message__bubble {
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
}

.message-row--own .message__bubble {
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    background-color: var(--yellow);
}

.message__time {
    font-size: 11px;
    font-weight: 500;
    color: var(--light-gray);
    margin: 0 5px;
}

/* form */

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 5px 15px;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.reply:focus-within{
    transform: translateY(60px);
}

.reply:focus-within .reply__column>i,
.reply:focus-within button {
    opacity: 0;
}

.reply:focus-within input {
    width: 95vw;
    transform: translateX(-12%) translateY(-60px);
}

.reply__column:first-child {
    width: 10%;
}

.reply__column:last-child {
    width: 90%;
}

.reply__column i {
    color: var(--light-gray);
}

.reply__column input {
    width: 100%;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    border: var(--main-border);
    border-radius: 30px;
    font-size: 16px;
    background-color: #F8F8F8;
    transition: all .3s ease-in-out;
}

.reply__column:last-child>i,
.reply__column:last-child button {
    position: absolute;
    top: 11px;
    right: 20px;
}

.reply__column:last-child>i {
    top: 22px;
    right: 70px;
}

.reply__column button {
    width: 35px;
    height: 35px;
    background-color: var(--yellow);
    border: none;
    border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
    outline: none;
}

.reply__column:last-child button i {
    color: #000;
}