#chat-screen{
    background-color:#ABC1D1 ;
    height: 1000vh;
}

.chat-status,
.chat-header {
    background-color:#ABC1D1 ;
}
.chat-status{
    z-index: 2;
}

.chat-header{
    z-index: 1;
}
.main-chat{
    margin-top: 95px;
    display: flex;
    flex-direction: column;
}

.chat-timestamp{
    display: inline;
    padding: 10px 15px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.767);
    border-radius: 20px;
    font-size: var(--font-sm);
}

.message-row{
    display: flex;
    margin: 15px 0;
}

.message-row img{
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.message__author{
    color: var(--light-gray);
    font-size: var(--font-sm);
    font-weight: 500;
    margin-bottom: 8px;
}

.message-row__content{
    display: flex;
    flex-direction: column;
}

.message__info{
    display: flex;
    align-items: flex-end;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}

.message-row--own{
    flex-direction: row-reverse;
}

.message__bubble{
    display: block;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    border-top-left-radius: 0;
}

.message-row--own .message__bubble{
    border-top-left-radius: 15px;
    border-top-right-radius: 0;
    background-color: var(--yellow);
}
.message__time{
    font-size: 11px;
    font-weight: 500;
    color: var(--light-gray);
    margin: 0 5px;
}
