.screen-header__icons > span{
    position: relative;
}

.badge--dot{
    top: -7px;
    right: -5px;
}

.find-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--gray);
}

.find-icons__icon{
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    text-align: center;
}

.find-icons__icon i{
    font-size: 25px;
    margin: 27px 0 25px 0;
}

.recommends-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    padding: 20px 0;
    margin: 20px 0;
    color: var(--light-gray);
    font-weight: 500;
}

.find-recommend__title{
    font-size: var(--font-sm);
}

.recommends-friends span{
    display: block;
    text-align: center;
    margin: 90px 0;

}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    color: var(--light-gray);
    font-weight: 500;
    font-size: var(--font-sm);
}

.open-chat__header span{
    color: rgba(0, 0, 0, 0.3);
}

.open-chat__header span > i{
    margin-left: 5px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: var(--main-border);
}

.open-post__column{
    font-weight: 500;
}

.open-post__hashtags{
    text-transform: uppercase;
    color: var(--light-gray);
    font-size: var(--font-sm);
    margin: 15px 0 6px 0;
}

.open-post__members{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--light-gray);
}
.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right:5px ;
}

.open-post__members .divider{
    background-color: var(--light-gray);
    width: 1.2px;
    height: 12px;
    margin: 0 5px;
}

.open-post__member-status{
    color:#FFB1E1 ;
}

.open-post__img{
    width: 85px;
    height: 85px;
    border-radius: 10px;
}