.screen-header__icons > span{
    position: relative;
}

.recommends-friends{
    border-top: var(--main-border);
    border-bottom: var(--main-border);
    margin: 20px 0;
    color: var(--light-gray);
    font-weight: 500;
}

.recommends-friends > span{
    display: block;
    text-align: center;
    margin: 90px 0;
}

.open-chat__header span{
    color: rgba(0, 0, 0, 0.3);
}

.open-chat__header span > i{
    margin-left: 5px;
}

.open-post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: var(--main-border);
}

.open-post__column{
    font-weight: 500;
}

.open-post__hashtags{
    text-transform: uppercase;
    color: var(--light-gray);
    font-size: var(--font-sm);
    margin: 15px 0 6px 0;
}

.open-post__members{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--light-gray);
}
.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right:5px ;
}

.open-post__members .divider{
    background-color: var(--light-gray);
    width: 1.2px;
    height: 12px;
    margin: 0 5px;
}

.open-post__member-status{
    color:#FFB1E1 ;
}

.open-post__photo{
    position: relative;
}

.open-post__photo img{
    width: 85px;
    height: 85px;
    border-radius: 10px;
}

.open-post__heart-count{
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
}

@keyframes heartBeat{
    0%{
        color: #fff;
        transform: none;
    }
    50%{
        color: var(--tomato);
        transform: scale(1.5);
    }
    100%{
        color: #fff;
        transform: none;
    }
}

.open-post__heart-count:hover i{
    will-change: transform;
    animation: heartBeat 1s linear  infinite;
}

.open-post__heart-count span{
    margin-left: 5px;
}
    
