#frends-display-link{
    display: block;
    text-align: center;
    background-color: #FAFAFA;
    padding: 12px 0;
    margin-bottom: 10px;
}

#frends-display-link i{
    color: #D5D5D5;
}

#frends-display-link span{
    padding: 0px 10px 0px 3px  ;
    font-size: 15px;
    color: var(--gray);
}

.friends-screen__channel{
    border-top: var(--main-border);
}

.friends-screen__channel-header{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--light-gray);
    margin-top: 15px;
}

.friends-screen__channel-header span{
    font-weight: 500;
    font-size: var(--font-sm);
}
