.user-component__column > i{
    color: var(--gray);
}

.icon-row__icon > span{
    margin-bottom: 40px;
}

.more-suggestions{
    border-top: var(--main-border);
}

.more-suggestions__items{
    justify-content: flex-start;
    font-size: var(--font-sm);
}

.more-suggestions__item span{
    color: var(--light-gray);
}