.user-component__column > i{
    color: var(--gray);
}

.icon-row__icon > span{
    margin-bottom: 40px;
}

.more-suggestions{
    border-top: var(--main-border);
}

.more-suggestions__items{
    justify-content: flex-start;
    font-size: var(--font-sm);
}

.more-suggestions__item span{
    color: var(--light-gray);
}

.more-suggestions__icon-image{
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.more-suggestions__icon-image i{
    color: #fff;
}

