.badge,
.badge--dot{
    background-color:var(--tomato) ;
    display: flex;
}


.badge{
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.badge--dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
