.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px var(--horizontal-space) 17px;
    color: #191919;
}

.screen-header__title{
    font-size: 30px;
    font-weight: 500;
}

.screen-header__icons span{
    margin-left: 25px;
}

.screen-header__icons i{
    transition: all .3s;
}
.screen-header__icons i:hover{
    transform: scale(1.2);
}


@keyframes rotateCog{
    from{
        transform: none;
    }
    to{
        transform: rotateZ(360deg);
    }
}
.screen-header__icons .fa-cog:hover{
    animation: rotateCog 1s linear  infinite;
}
.screen-header__icon-dot{
    top: -7px;
    right: -5px;
}